@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Outfit";
  src: local("Font"), url(/fonts/font-1.woff2) format("woff");
}

* {
  font-family: 'Outfit';
}
::-webkit-scrollbar{
  display: none;
}